<p>
    </br>
    I've build this simple Logistics Inventory App Using Ruby on Rails.
    </br>
    </br>
    You can interact with the links in the navbar in order to add to the inventory, 
    </br> 

</p>