<p>
    </br>
    I've build this simple Logistics Inventory App Using Ruby on Rails.
    </br>
    </br>
    You can interact with the links in the navbar in order to add to the inventory,
    </br>
    view inventory or return to the default page.
    </br>
    You can create new inventory locations, but I've programmed it not to allow
    </br>
    duplicate locations.

</p>