<p>
    </br>
    I've build this simple Logistics Inventory App Using Ruby on Rails.
    </br>
    </br>
    You can interact with the links in the navbar in order to add to the inventory,
    </br>
    view inventory or return to the default page.
    </br>
    My next steps wil be to add search features and automatic database functionality.

</p>